*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Adeventure */

a{
    text-decoration: none;
}
ul {
    list-style: none;
}
body ,html{
    overflow-x: hidden;
}

/* Navbar */
.navbar {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
    color: whitesmoke;
}

.nav-link {
    list-style: none;
    display: flex;
    align-items: center;

}

.nav-link li {
    text-transform: capitalize;
    margin: 0 30px ;
}
.nav #icon {
    color: whitesmoke;
    font-size: 30px;
    line-height: 80px;
    float: right;
    margin-right: 40px;
    cursor: pointer;
}

header{
    width: 100vw;
    height: 100vh;
    background-image: url(./images/image\ 1.jpg);
    background-position: bottom ;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    
}
.header-content{
    margin-bottom: 150px ;
    color: whitesmoke;
    text-align: center;
}

.header-content h2{
    font-size: 4vmin;
}

.line {
    width: 150px ;
    height: 4px;
    background: crimson;
    margin: 10px auto;
    border-radius: 5px;
}

.header-content h1{
    font-size: 7vmin;
    margin-top: 50px;
    margin-bottom: 30px;
}

.ctn {
    padding: 8px 15px;
    background: crimson;
    border-radius: 30px;
    color: whitesmoke;
}

/* Events  */
section{
    width: 80%;
    margin: 80px auto ;
}
.title {
    text-align: center;
    font-size: 4vmin;
    color: #49497e;
}
.row {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}
.row .col  {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.row .col img {
    text-align: center;
    width: 100%;
    display: flex;
}
.events .row {
    margin-top: 50px; 
}
h4 {
    font-size: 4vmin;
    color: #484872;
    margin: 20px auto;
}
p {
    font-size: 3vmin;
    color: black;
    padding: 0px 40px;
}
.events .ctn {
    margin-top: 30px;
}
/* Explore */
.explore {
    width: 100%;
    height: 100vh;
    background-image: url(./images/explore-4.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}
.explore-content-h{
    color: whitesmoke;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.explore-content-h h1{
    font-size: 7vmin;
    margin: 50px;
}
.explore-content-h line{
    margin-bottom: 50px;
}
.explore-content-h p{
    font-size: 5vmin;
    margin: 25px;
    color: whitesmoke;
    display: flex;
}
.explore-content-h .ctn {
    margin-top: 40px;

}

/* Tour  */
.content-col{
    width: 40%;
}
.image-col {
    width: 60%;
    align-items: center;
}
.tour .row .col {
    width: 80%;
}
.tour .image-gallery{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
}
.image-gallery img {
   max-width: 350px;
    margin: 5px;
}
.content-col h1{
   font-size: 8vmin;
   color: #49497e;
}
.content-col line {
    margin-left: 5px;
}
.content-col p {
    padding: 0;
    margin: 30px auto;
}


/* Contact  */
.footer {
    width: 100%;
    min-height: 200px;
    padding: 20px 80px;
    margin: 0;
    background: #484872;
    text-align: center;
}
.footer p{
    color: whitesmoke;
    margin: 20px auto;
}

/* mobile device */
  
@media screen and (max-width:850px) {
   
    .nav {
      padding: 0;
    }
    .logo {
        position: absolute;
        top: 30px;
        left: 30px;
    }
    .nav-link {
        flex-direction: column;
        width: 100%;
        height: 100vh;
        justify-content: center;
        background-color: #484872;
        margin-top: -900px;
        transition: all 0.5 ease;
    }
    .moblie-menu {
        margin-top: 0px;
        border-bottom-right-radius: 30% ;
    }
    .nav-link li {
        margin: 30px auto;
    }
    .row{
        flex-direction: column;
    }
    .footer{
        padding: 10px;
    }
    
}   

.ctn:hover{
    background: whitesmoke;
    color: #fc036b;
    box-shadow: 2px 2px 5px #000056;
}
li:hover{
    color: #fc036b;
    cursor: pointer;
}

